absl-py==0.15.0
aiofiles==0.7.0
astor==0.8.1
beautifulsoup4==4.10.0
blinker==1.4
Brotli==1.0.9
cached-property==1.5.2
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
dash==2.0.0
dash-bootstrap-components==1.0.0
dash-core-components==2.0.0
dash-extensions==0.0.65
dash-html-components==2.0.0
dash-table==5.0.0
EditorConfig==0.12.3
Flask==2.0.2
Flask-Caching==1.10.1
Flask-Compress==1.10.1
gast==0.2.2
google-pasta==0.2.0
grpcio==1.41.1
gunicorn==20.1.0
h11==0.12.0
h2==4.1.0
h5py==2.10.0
hpack==4.0.0
hypercorn==0.12.0
hyperframe==6.0.1
icrawler==0.6.6
idna==3.3
importlib-metadata==4.8.1
itsdangerous==2.0.1
Jinja2==3.0.2
jsbeautifier==1.14.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keras-vggface @ git+https://github.com/rcmalli/keras-vggface.git@719ad75625fe51436b9a9479114b3d136847e11a
lxml==4.6.4
Markdown==3.3.4
MarkupSafe==2.0.1
more-itertools==8.10.0
numpy==1.21.4
opencv-python==4.5.4.58
opt-einsum==3.3.0
pandas==1.3.4
Pillow==8.4.0
plotly==5.3.1
priority==2.0.0
protobuf==3.19.1
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
Quart==0.15.1
requests==2.26.0
scipy==1.7.2
six==1.16.0
soupsieve==2.3
tenacity==8.0.1
tensorboard==1.15.0
tensorflow==1.15.2
tensorflow-estimator==1.15.1
termcolor==1.1.0
tflite-runtime @ https://github.com/google-coral/pycoral/releases/download/v2.0.0/tflite_runtime-2.5.0.post1-cp37-cp37m-macosx_10_15_x86_64.whl
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.7
Werkzeug==2.0.2
wrapt==1.13.3
wsproto==1.0.0
zipp==3.6.0
